# Secrets
.env
*.env
backend/.env
frontend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
.DS_Store
